@media only screen and (min-width:40rem) {
  * {
    box-sizing: border-box;
  }

  html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
  }

  main {
    display: grid;
    grid-template-columns: 312px auto;
    margin: 0 0 0 17px;
  }

  .competition {
    margin: 0px 0 30px 0;
    background-color: transparent;
  }

  .award {
    background-color: transparent;
  }


  .competitioncaption {
    margin: 0 0 0px 0;
  }


  #psidebar {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 11pt;

  }

  .competitionimg {
    margin: 0;
    max-width: 245px;
    max-height: 210px;
    margin-top: 22px;
  }

  #calendar {
    font-size: 9pt;
    max-width: 250px;
    margin-left: 14px;
  }

  #sidebar {
    background-color: #e2f4fd;
    padding-left: 10px;
    padding-right: 10px
  }

  .sidebartitles {
    border-bottom: solid black 1px;
    padding-bottom: 5px;

  }

  .sidebartitles:hover {
    text-decoration: underline
  }

  #image
  {
    margin-top: 14px;
  }

  .hoverover {
    transition: filter 0.3s ease;
    display: inline-block;
  }

  .hoverover:hover {
    filter: brightness(75%);
  }

  figcaption {
    margin: 13px 0 12px 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 11pt;
  }

  .days {
    margin-top: 30px;
    margin-left: 15px;
  }

  figure
  {
    background-color: #d8d8d8a8;
  }


  /*-----------------------*/



  .BizConnect {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #335ada;
    margin-bottom: 0.5rem;
    font-size: 26pt;
    align-self: safe;
  }

  header {
    display: grid;
    grid-template: 80px 20px / 120px auto;
    background-color: rgba(99, 191, 228, 0.274);
    padding-bottom: 0.2rem;
  }

  .icon
  {
    justify-self: end;
    margin-right: 10px;
    margin-bottom: 10px;
  }

  #navelement {
    background-color: #d5edf9;
    display: block;
    text-align: center;
    unicode-bidi: normal;
  }

  #descover {
    background-color: #d5edf9;
    display: block;
    text-align: center;
    unicode-bidi: normal;
  }

  #navelement:hover {
    background-color: #405cb0;

  }

  #descover:hover {
    background-color: #405cb0;
  }

  #discover:hover {
    background-color: #405cb0;

  }

  #home {
    background-color: #afd2fac0;
    display: block;
    text-align: center;
    unicode-bidi: normal;
  }

  #mybutton {
    display: none;
  }


  .foot {
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    background-color: #d5edf9;
    list-style: none;
    padding-top: 14px;
  }

  .socialMedia {
    display: flex;
    gap: 38px;
    font-size: 52px;
  }

  h4 {
    margin-top: 0;
  }

  #navpriority {
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr 1fr;
    background-color: #d5edf9;
  }

}

;