@media only screen and (min-width:40rem) {
  .icon {
    max-width: 55px;
    justify-self: end;
  }

  .headerSection {
    display: grid;
    grid-template-columns: 80px auto 80px;
    align-items: center;
    background-color: #e99b00;
    color: aliceblue;
    font-family: "Pacifico", cursive;
  }

  nav {
    justify-content: space-around;
    text-align: center;
    gap: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
  }

  a {
    background-color: rgb(253, 211, 134);
    display: block;
    padding: 8px;
    font-family: "SUSE", sans-serif;
    border-top: thin solid hsla(0, 100%, 100%, 0.5)
  }

  .wayFinding {
    background-color: rgba(245, 189, 77, 0.897);
  }

  a:hover {
    background-color: #e0ac44cb;
  }

  ul {
    padding-left: 0px;
  }

  ul.animateme.close {
    display: none;
  }


  #mybutton {
    margin-right: 50px;
    display: none;
  }



  #mybutton {
    margin-right: 50px;
    display: none;
  }

  .animateme {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    justify-content: space-around;
    text-align: center;
    gap: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
  }


  #largeUl {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    justify-content: space-around;
    text-align: center;
    gap: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
  }

  a {
    background-color: rgb(253, 211, 134);
  }


  .socialMedia {
    font-size: 52px;
    align-self: center;
  }

  #footLarge {
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
    list-style-type: none;
    background-color: #e99b00;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
  }

  #oneLarge {
    margin-left: 100px
  }

  ;


  li.one {
    text-align: left;
    margin-left: 45px;
  }


  h4 {
    grid-column: 2/3;
  }


  /**************************************************************/

  * {
    box-sizing: border-box;
  }

  main {
    margin: 0 auto;
    padding: 0.5rem;
    max-width: 1000px;
    background-color: white;
    font-family: Roboto, Helvetica, sans-serif;
  }

  .menu {
    display: grid;
    grid-template: auto / auto auto;
    align-items: center;
    margin: 1rem auto;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0.5rem;

    text-align: center;
  }

  .buttons {
    margin-left: 230px;
  }

  .menu button {
    padding: 1rem;
    font-weight: 700;
  }

  section {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
    background-color: #eee;
  }

  article#cards.grid {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-gap: 50px;
    align-items: center;
  }

  .grid section {
    text-align: center;
    padding: 20px;
  }

  .grid img {
    border: 1px solid #fff;
    box-shadow: 0 0 10px #333;
    height: 150px;
    max-width: 80%;
  }

  .grid section>* {
    margin: 0.2rem;
  }

  .grid h1 {
    font-family: "Caveat", cursive;
  }

  .grid h2 {
    margin-bottom: 8px;
  }

  .grid h4 {
    margin-bottom: 10px;
  }

  .grid button.registerButton {
    padding-inline: 80px;
    margin-top: 12px;
  }

  .list {
    display: flex;
    flex-direction: column;
  }

  .list section {
    display: grid;
    grid-template-columns: 280px 1fr 200px;
    grid-template-rows: 40px 40px 40px 40px 40px;
    align-items: center;
    margin: 0;
    padding: 0.25rem;
  }

  .origin section {
    display: grid;
    grid-template-columns: 280px 1fr 200px;
    grid-template-rows: 40px 40px 40px 40px 40px;
    align-items: center;
    margin: 0;
    padding: 0.25rem;
  }

  .origin section img {
    display: none;
    /* smaller viewports only */
  }

  span.label {
    color: #172a50;
    font-size: 15px;
  }

  span.textSpan {
    font-size: 11pt;
  }

  center .list section>* {
    margin: 0 1rem;
  }

  .list section img {
    display: none;
    /* smaller viewports only */
  }

  .list section h3 {
    font-size: 1rem;
    font-family: Roboto, Helvetica, sans-serif;
  }

  .list section button {
    align-self: center;
    grid-column: 3/4;
    grid-row: 3/4;

  }

  .list section:nth-child(even) {
    background-color: #d5edf9;
  }

  section h3 {
    font-size: 1.5rem;
  }

  section p {
    font-weight: 600;
    font-size: smaller;
  }

  section a {
    font-family: "Roboto", Arial, sans-serif;
    font-size: 0.85rem;
    color: navy;
    letter-spacing: 1.1pt;
  }

  #modal {
    display: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-95%, -45%);
    background-color: white;
    padding: 19px;
    width: 23%;
    border-radius: 8px;
    border: solid thin rgb(231, 224, 224);
    font-family: "SUSE", sans-serif;
  }

  .close-button {
    position: absolute;
    left: 81%;
  }

  label {
    display: block;
    margin-top: 10px;
  }

  input {
    display: block;
    margin-top: 10px;
    border: solid thin rgb(197, 193, 193);
    border-radius: 4px;
    padding-inline: 17%;
    justify-self: start;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  input[type=submit] {
    margin-top: 30px;
    justify-self: center;
  }




}